@font-face{
 font-family: 'Dead Island';
 src: url('../fonts/Dead Island.ttf');
 src: url('../fonts/Dead Island.ttf') format(ttf);
}

@font-face{
 font-family: 'Oswald-Regular';
 src: url('../fonts/Oswald-Regular.ttf');
 src: url('../fonts/Oswald-Regular.ttf') format(ttf);
}

@import url('Dead Island.ttf');
@import url('Oswald-Regular.ttf');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("../assets/event_bg.jpg") no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.con{
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	
}

.con h1{
	font-family: 'Dead Island';
	color: white;
	text-shadow:  0px 0px 300px #000;
	font-size: 700%;
	
}


.btn{
	border-radius: 9px;
	font-family: 'Oswald-Regular';
	font-size: 135%;
	padding: 10px 20px;
	border: solid white 3px;
	text-transform: uppercase;
	text-decoration: none;
	
}

a{
	color: #dfe0c7;
}
.btn:hover {
	color: #fff;
	border: solid #fff 3px;
}


@media screen and (max-width: 720px) {
	.con h1{
		font-size: 250%;
	}
	
	.btn{
		font-size: 110%;
		padding: 7px 15px;
	}
}
